<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <security-role>
        <role-name>Admin</role-name>
    </security-role>
    <security-role>
        <role-name>Guest</role-name>
    </security-role>
    <security-role>
        <role-name>Manager</role-name>
    </security-role>

    <!--    <security-constraint>-->
    <!--        <web-resource-collection>-->
    <!--            <web-resource-name>Secured pages</web-resource-name>-->
    <!--            <url-pattern>/*</url-pattern>-->
    <!--        </web-resource-collection>-->
    <!--        <user-data-constraint>-->
    <!--            <transport-guarantee>CONFIDENTIAL</transport-guarantee>-->
    <!--        </user-data-constraint>-->
    <!--    </security-constraint>-->

    <!--    <security-constraint>-->
    <!--        <web-resource-collection>-->
    <!--            <web-resource-name>Auth Guest pages</web-resource-name>-->
    <!--            <url-pattern>/reservation/*</url-pattern>-->
    <!--            <url-pattern>/index.xhtml</url-pattern>-->
    <!--        </web-resource-collection>-->
    <!--        <auth-constraint>-->
    <!--            <role-name>Guest</role-name>-->
    <!--        </auth-constraint>-->
    <!--    </security-constraint>-->

    <!--    <security-constraint>-->
    <!--        <web-resource-collection>-->
    <!--            <web-resource-name>Auth Manager pages</web-resource-name>-->
    <!--            <url-pattern>/apartment/*</url-pattern>-->
    <!--            <url-pattern>/reservation/*</url-pattern>-->
    <!--            <url-pattern>/user/guest/*</url-pattern>-->
    <!--            <url-pattern>/index.xhtml</url-pattern>-->
    <!--        </web-resource-collection>-->
    <!--        <auth-constraint>-->
    <!--            <role-name>Manager</role-name>-->
    <!--        </auth-constraint>-->
    <!--    </security-constraint>-->

    <!--    <security-constraint>-->
    <!--        <web-resource-collection>-->
    <!--            <web-resource-name>Auth Admin pages</web-resource-name>-->
    <!--            <url-pattern>/user/manager/*</url-pattern>-->
    <!--            <url-pattern>/user/admin/*</url-pattern>-->
    <!--            <url-pattern>/user/ListAllUser.xhtml</url-pattern>-->
    <!--            <url-pattern>/index.xhtml</url-pattern>-->
    <!--        </web-resource-collection>-->
    <!--        <auth-constraint>-->
    <!--            <role-name>Admin</role-name>-->
    <!--        </auth-constraint>-->
    <!--    </security-constraint>-->

    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>

    <!--    <servlet>-->
    <!--        <servlet-name>Faces Servlet</servlet-name>-->
    <!--        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>-->
    <!--        <load-on-startup>1</load-on-startup>-->
    <!--    </servlet>-->

    <!--    <servlet-mapping>-->
    <!--        <servlet-name>Faces Servlet</servlet-name>-->
    <!--        <url-pattern>*.xhtml</url-pattern>-->
    <!--    </servlet-mapping>-->

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>

    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>

    <error-page>
        <error-code>403</error-code>
        <location>/api/errors/403</location>
    </error-page>

    <error-page>
        <error-code>401</error-code>
        <location>/api/errors/401</location>
    </error-page>

<!--    <login-config>-->
<!--        <auth-method>FORM</auth-method>-->
<!--        <realm-name>file</realm-name>-->
<!--        <form-login-config>-->
<!--            <form-login-page>/login.xhtml</form-login-page>-->
<!--            <form-error-page>/login.xhtml</form-error-page>-->
<!--        </form-login-config>-->
<!--    </login-config>-->


    <!--    Rest API rules    -->
    <servlet>
        <servlet-name>javax.ws.rs.core.Application</servlet-name>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>javax.ws.rs.core.Application</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Get self</web-resource-name>
            <url-pattern>/api/self</url-pattern>
            <http-method>GET</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Guest</role-name>
            <role-name>Manager</role-name>
            <role-name>Admin</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Gest options</web-resource-name>
            <url-pattern>/api/reservation</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Guest</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Manager options</web-resource-name>
            <url-pattern>/api/guest</url-pattern>
            <url-pattern>/api/guest/*</url-pattern>
            <url-pattern>/api/threestar</url-pattern>
            <url-pattern>/api/threestar/*</url-pattern>
            <url-pattern>/api/fivestar</url-pattern>
            <url-pattern>/api/fivestar/*</url-pattern>
            <url-pattern>/api/reservation</url-pattern>
            <url-pattern>/api/reservation/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>PUT</http-method>
            <http-method>PATCH</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Manager</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Admin options</web-resource-name>
            <url-pattern>/api/manager</url-pattern>
            <url-pattern>/api/manager/*</url-pattern>
            <url-pattern>/api/admin</url-pattern>
            <url-pattern>/api/admin/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>PUT</http-method>
            <http-method>PATCH</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Admin</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Admin options</web-resource-name>
            <url-pattern>/api/httptest</url-pattern>
            <http-method>GET</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Guest</role-name>
            <role-name>Manager</role-name>
            <role-name>Admin</role-name>
        </auth-constraint>
    </security-constraint>

    <env-entry>
        <env-entry-name>SECRET</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>258AbqJCvhoWtVSI64m7Xpb6tpSJKpt6d7GRep82csg7jJzo9yu2whTOSQmkMjfpc2srXurE0G9LNn3NWbbT0yFgmWeW1y3VjB0sS-f0aUYOj4oYeGA-fK2G8Ju-sqDH16TRy1Es0pf1BhcbhFHARSnL9Y7QdA9us-KN_KTHqDc</env-entry-value>
    </env-entry>

</web-app>